<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jujoru.examentestapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".ActivityLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityRegistro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityLogin" />
        </activity>
        <activity
            android:name=".ActivityMenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".ActivityPerfil"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".ActivityMenuPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityMenuPrincipal" />
        </activity>
        <activity
            android:name=".ActivityGestionExamen"
            android:label="@string/title_activity_gestion_examen"
            android:parentActivityName=".ActivityMenuPrincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityMenuPrincipal" />
        </activity>
        <activity
            android:name=".ActivityEditarInformacionExamen"
            android:label="@string/title_activity_editar_informacion_examen"
            android:parentActivityName=".ActivityGestionExamen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityGestionExamen" />
        </activity>
        <activity
            android:name=".ActivityEditarConfiguracionExamen"
            android:label="@string/title_activity_editar_configuracion_examen"
            android:parentActivityName=".ActivityGestionExamen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityGestionExamen" />
        </activity>
        <activity
            android:name=".ActivityVerPregunta"
            android:label="@string/title_activity_ver_pregunta"
            android:parentActivityName=".ActivityGestionExamen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityGestionExamen" />
        </activity>
        <activity
            android:name=".ActivityEditarPregunta"
            android:label="@string/title_activity_editar_pregunta"
            android:parentActivityName=".ActivityGestionExamen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityGestionExamen" />
        </activity>
        <activity
            android:name=".ActivityNuevoExamenInformacion"
            android:label="@string/title_activity_activitiy_nuevo_examen_informacion"
            android:parentActivityName=".ActivityMenuPrincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityMenuPrincipal" />
        </activity>
        <activity
            android:name=".ActivityNuevoExamenConfiguracion"
            android:label="@string/title_activity_nuevo_examen_configuracion"
            android:parentActivityName=".ActivityNuevoExamenInformacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityNuevoExamenInformacion" />
        </activity>
        <activity
            android:name=".ActivityNuevoExamenPreguntas"
            android:label="@string/title_activity_nuevo_examen_preguntas"
            android:parentActivityName=".ActivityNuevoExamenConfiguracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityNuevoExamenConfiguracion" />
        </activity>
        <activity
            android:name=".ActivityVerNotas"
            android:label="@string/title_activity_ver_notas"
            android:parentActivityName=".ActivityMenuPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityMenuPrincipal" />
        </activity>
        <activity
            android:name=".ActivityAlumnoExamen"
            android:label="@string/title_activity_alumno_examen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAlumnoPregunta"
            android:label="@string/title_activity_alumno_pregunta"
            android:parentActivityName=".ActivityAlumnoExamen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jujoru.examentestapp.ActivityAlumnoExamen" />
        </activity>
    </application>

</manifest>